@media (min-width: 1000px) {
    .responsive-div {
      background-color: blue;
    }
  }

  /* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 360px) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

.card {
  margin: 3rem 0;
  display: flex;
  width: 1080px;
  height: 300px;
  background-color: #ececf2;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.card::-webkit-scrollbar {
  display: none;
}

.card--content-logo {
  border: solid whitesmoke 5px;
}
.blue{
  background-color: blue;
  width : 100%;
  height: 300px;

}
.yellow {
  background-color: yellow;
  width: 100%;
  height: 300px;

}
.red {
  background-color: red;
  width: 100%;
  height: 300px;

}