@media (min-width: 1000px) {
    .responsive-div {
      background-color: blue;
    }
  }

  /* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 360px) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

nav {
  background-color: #fffdf3;
}
nav div > img {
  width: 28px;
  height: 28px;
}
body{
  font-family: 'Karla', sans-serif;
}
/* no toque mas  */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
.card {
  display: inline-block;
  width : 100%;
  height: 300px;
  background-color: #fffdf3;
  text-align: center;
}
 

#logos div > img {
  width: 200px
}
.cta div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ff6161;
  margin: 0 auto ;
}

#cta-title{
  display: flex;
  justify-content: center;
  text-shadow: -3px 3px 0 #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fffdf3;
 }

 .cta-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .cta-content p {
   margin: 1rem;

 }
#hero-btn{
  width: 113px;
  height: 48px;
  border-radius: 8px;
  color: #fffdf3;
  background-color: #000000;
  border: none;
}

 #call-to-action-btn{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 0 0 0 2rem;
    width: 296px;
    height: 48px;
    border-radius: 8px;
    background-color: #fffdf3;
 }
.how-it-works{
  text-align: center;
}

.article-image img {
  width: 360px;
  height: 320px;
}
.how{
  text-align: center;
  margin: 2rem 1rem;
}

.title-product{
  text-align: center;
}
#logos {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #fffdf3;
}

#logos img {
  width: 100px;
  height: 50px;
  margin: 0.5rem 1rem 0.5rem 2rem;
}
.article-text{
  display: flex;
  flex-direction: row;
  border:1rem;
  margin: 1rem;
  justify-content: space-between;
}
 
.review{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
#reviews{
  text-align: center;
}
footer{
  text-align: center;
  background-color: #ff6161;
  
}